.selecttype {
    margin-bottom: 20px;
  }
  
  .selecttype label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .selecttype select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
  }
  
  .selecttype select:focus {
    outline: none;
    border-color: #007bff;
  }
  .overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
  }  
  .map{
    width: 100%;
    height:80vh;
    z-index: 9;
    padding-top: 3rem;
   
  }
  .loaderclass{
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ol-zoom{
    background-color: rgb(250, 247, 247);
 max-width: 2rem;
  }
  .ol-rotate{
    display: none;
  }
  .ol-rotate-reset{
    display: none;
  }
  .ol-compass{
    display: none;
  }
  /* .ol-attribution ol-unselectable ol-control ol-uncollapsible ol-collapsed */
  .ol-attribution{
    display: none;
  }
